*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --darkBlue: #003459;
  --white: #ffffff;
  --light-blue: #007ea7;
  --red:#eb8a8a;
}
header {
  background-color: var(--light-blue);
  color: var(--white);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-det-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.user-det-cont .user-img-cont {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--white);
}
.user-img-cont img {
  width: 35px;
}
button {
  border: 2px solid var(--light-blue);
  outline: 0;
  background-color: transparent;
  color: var(--white);
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
header button {
  border: 2px solid white;
  outline: 0;
  background-color: var(--light-blue);
}
body {
  background-color: #003459;
}
input {
  background-color: transparent;
  color: var(--white);
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  border: 2px solid transparent;
  text-align: center;
  border-bottom: 2px solid var(--light-blue);
  transition: all 0.2s ease;
}
input:hover {
  border-top: 2px solid var(--light-blue);
}
input:focus {
  border: 2px solid var(--light-blue);
}
input::placeholder {
  color: var(--white);
}
.button-cont {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
  padding: 1rem;
}
.button-cont > * {
  margin: 0.5rem;
}
.button-cnt {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.code-shower {
  margin-left: 0.5rem;
  color: var(--white);
}
.players-cont {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid white;
}
.players-cont > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.players-cont > div:nth-child(2) {
  flex-direction: row-reverse;
}
.player-score {
  font-size: 1.2rem;
  color: var(--white);
  margin-left: 1rem;
}
.player2 {
  margin-left: 0;
  margin-right: 1rem;
}
.players-cont .user-det-cont {
  display: flex;
}
.players-cont .user-det-cont .user-name-cont {
  margin-top: 0.5rem;
  color: var(--white);
}
.board-cont {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.board-cont .board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 1rem;
  margin: 1rem auto;
}
.board > * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--white);
  height: 100px;
  width: 100px;
  background-color: var(--light-blue);
  padding: 2rem;
  cursor: pointer;
  margin: 1px solid transparent;
  transition: all 0.2s ease;
}
.board div:hover {
  background-color: var(--darkBlue);
  border: 1px solid white;
}
.highlighter {
  background-color: var(--darkBlue);
  border: 1px solid white;
}
.none {
  display: none;
}
.players-cont .user-img-cont{
  padding: 2rem;
}